*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#NavBar{
    font-size: x-small;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    
}

#Menu{
    margin-left: 250px;
    width: 300px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}