body{
    margin-left: -8px;
    background-color: rgb(67, 136, 136);
    margin: 0;
    padding: 0;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation Bar */

#NavBar{
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    background-color: rgb(92, 175, 105);
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    z-index: 1000; 
    position: fixed;
    color: white;
}

.IntNavBar{
    padding-top: 14px;
}

#Logo{
    background-color: rgb(5, 88, 37);
    padding-left: 50px;
    width: 180px;
    font-weight: bolder;
    cursor: pointer;

}

#Menu{
    
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    cursor: pointer;
    height: max-content;


    transition: color 0.3s;
}

.menu:hover{
    color: red;
}

@media only screen and (max-width: 600px) {
    #NavBar {
        flex-direction: column;
        align-items: center;
    }

    #Logo, #Menu {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

}

/* Home */

#ContainerHome{
    border: 1px solid #ccc;
    
}

.OnScreen{
    height: 1000px;
    background-image: url('../IMAGE/web/main.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.TextContainer{
    
}

.HomeText{
    margin-top: 50px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 15px;
    width: 100%;
    margin-right: 15%;
}
