body{
    margin-left: -8px;
    background-color: rgb(67, 136, 136);
    margin: 0;
    padding: 0;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation Bar */

#NavBar{
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    background-color: rgb(28, 121, 116);
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    z-index: 1000; 
    position: fixed;
    color: white;
}

.IntNavBar{
    padding-top: 14px;
}

#Logo{
    background-color: rgb(41, 174, 165);
    padding-left: 50px;
    width: 180px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
}

#Menu{
    
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    cursor: pointer;
    height: max-content;


    transition: color 0.3s;
}

.menu:hover{
    color: red;
}

@media only screen and (max-width: 600px) {
    #NavBar {
        flex-direction: column;
        align-items: center;
    }

    #Logo, #Menu {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        
    }

    .OnScreen{
        margin-top: 10000px;
    }

}

/* Home */

#ContainerHome{
    border: 1px solid #ccc;
    
}

.OnScreen{
    margin-top: -120px;
    height: 1000px;
    background-image: url('../IMAGE/web/main.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.HomeHontainer{
    background-color: rgba(48, 153, 139, 0.411);
    border: 3px black solid;
    border-radius: 15px;
    width: 500px;
    height: 300px;
    margin-top: 400px;
    margin-left: 830px;
    font-size: 16px;
    padding-left: 11px;
}
